version: '3'

services:
  mqtt-script:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./certs:/app/certs  # Mount your cert and key files
      - ./output:/app/output:z  # Mount the output directory
    networks:
      - my_network

  apache:
    image: httpd:latest
    volumes:
      - ./output:/usr/local/apache2/htdocs  # Mount the output directory
    ports:
      - "5020:80"
    networks:
      - my_network

networks:
  my_network: